@charset "UTF- 8";
/* Regra @charset caso haja problemas com acentuação */
body {
            background-color: rgb(153, 159, 166);
            font-family: Arial, Helvetica, sans-serif;
            font-size: 20px;
            
            
        }
        h1 {
            color: rgb(180, 38, 10);
            background-color: rgb(199, 223, 16);
        }
        h2 {
            color: rgb(43, 11, 147);
        }
        p {
            text-align: justify;
        }