@charset "UTF-8";

* {
    font-family: Arial, Helvetica, sans-serif;
    height: 100;
}

body {
    background-image:linear-gradient(to right ,#196774,#90A19D );
}

main {
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 15px  #2b29288c;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1 {
    color: #EF6024;
    text-align: center;
    text-shadow: 1px 1px 2px #a8451aaf ;
}

h2  {
    color:#F0941F ;
}

p {
    text-align: justify;
}